#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: rgb(241, 173, 173);
  color: black;
  cursor: url("../public/img/zizinormal.png"), default;
}
body:active{
  cursor: url("../public/img/ziziactive.png"), default;
}
a{
  color: purple;
  cursor: url("../public/img/zizihover.png"), default;
}
a:hover{
  color: darkorchid;
  cursor: url("../public/img/zizihover.png"), default;
}
a:active{
  cursor: url("../public/img/ziziactive.png"), default;
}
.search-input{
border-radius: 10px;
border: 0;
cursor: url("../public/img/zizihover.png"), default;
}
h2{
  border: 1px solid;
  border-radius: 20px;
  width: 50%;
  margin: auto;
  cursor: url("../public/img/zizihover.png"), default;
}
h2:hover{
  cursor: url("../public/img/zizihover.png"), default;
}
h2:active{
  cursor: url("../public/img/ziziactive.png"), default;
}
.search-input:active{
  border:0;
  background-color: aqua;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.zizi-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.zizi-card:hover {
    animation: ziziQuiVibre 0.2s infinite;
}
.zizi-card {
  background: #ffeaea;
  border-radius: 1rem;
  box-shadow: 0 2px 8px #d273b5;
  margin: 1rem;
  padding: 1.5rem;
  max-width: 340px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
}
img:hover{
  cursor: url("../public/img/zizihover.png"), default;
}

.zizi-card header, .zizi-card section, .zizi-card footer {
  margin-bottom: 1rem;
}

.zizi-costume {
  color: #a153b9;
  margin: 0.2em 0 0 0;
}
.zizi-devise {
  font-style: italic;
  color: #b34f4f;
  margin: 0;
  padding-left: 1em;
  border-left: 4px solid #f8878a;
}
hr {
  border : 2px solid #b34f4f;
}
ol {
  text-align: left;
}

.slip {
  display: inline-block;
  animation: floaty 3s ease-in-out infinite;
}
footer {
  margin-top: 200px;

}
footer:hover {
  animation: ziziQuiVibre 0.2s infinite;
}
@keyframes ziziQuiVibre {
  0% { transform: translate(0); }
  25% { transform: translate(-1px, 1px); }
  50% { transform: translate(1px, -1px); }
  75% { transform: translate(-1px, -1px); }
  100% { transform: translate(1px, 1px); }
}
